*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;

}

img {
    width: 100%;

}

img:hover {
    opacity: 50%;;
}

figcaption{
    font-size: 20px;
}


/*-----BANNER-----*/

    header {
         width: 100%;    
    }


/*-----IMG GALLERY-----*/  

.imgGallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5rem;

  }



  /*==============================
                768px
  ==============================*/
  @media (min-width: 300px) {
    .imgGallery{
        grid-template-columns: repeat(2, 1fr);
    }
    
    figcaption{
        font-size: 0.8rem;
    }
   
}


/*==============================
                1024px
  ==============================*/
  @media (min-width: 400px) {
    .imgGallery{
        grid-template-columns: repeat(3, 1fr);
    }
    
  }



  /*==============================
                1200px
  ==============================*/
  @media (min-width: 1200px) {
    

    
  }